// View for assessment
// JavaScript used to hide answers based on conditional statement, user progression must equal one hundred OR be the course creator.
// Alert is shown indicating all lessons haven't been viewed, therefore can't show answers
// Fix for unresponsive show answer button in ../js/reload-fix.js
%p
.card
  .card-header
    = link_to assessment.title, course_assessment_path(@course, assessment), class: "no-hyper"
    - if policy(assessment).edit?
      = link_to 'Edit', edit_course_assessment_path(@course, assessment), class: 'btn btn-sm btn-warning'
      = link_to 'Delete', [@course, assessment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' 
  - if policy(assessment).show?  
    .card-body
      = assessment.questions

%p
 
- if (@course.progression(current_user)).to_i == 100 || policy(assessment).edit?
  %button#answers-toggle Show Answers
  %p
  #answers{ style: 'display: none;' }
    .card
      .card-body
        %p.card-text= @assessment.answers.body.to_plain_text
  // https://stackoverflow.com/questions/69214764/on-a-rails-6-view-how-can-i-add-an-event-listener-on-a-button-which-hides-and-u
  :javascript
    const button = document.querySelector('#answers-toggle');
    const answers = document.querySelector('#answers');
    button.addEventListener('click', () => {
      if (answers.style.display === 'none') {
        answers.style.display = 'block';
        button.innerText = 'Hide Answers';
      } else {
        answers.style.display = 'none';
        button.innerText = 'Show Answers';
      }
    });
- else
  .alert.alert-danger{ role: 'alert' }
    .alert-heading= "You have not completed all lessons! Once all lessons are completed, the answers can be revealed."
        

   
