// Reference: https://github.com/corsego
// Reference: https://github.com/bokmann/font-awesome-rails (Gem)
%p
= link_to "Courses", courses_path, class: "no-hyper"
\/
= link_to @assessment.course.title, course_path(@assessment.course), class: "no-hyper"
\/
= link_to @assessment.title, course_assessment_path(@course, @assessment), class: "no-hyper"

%p
// render assessment partial
// using bootstrap, set a row and column for assessments and lessons
// using bootstrap display the progression as a progress bar, as an integer
// highlight lesson/assessment the user is currently on, and list the others in a group.
// first column is on the left of the screen and is larger as it is displaying content, the other column on the right showing the list of other lessons / assessments
.row
  .col-lg-9
    = render "assessments/assessment", assessment: @assessment
    %p
  .col-lg-3
    %ul.list-group
      %li.list-group-item
        = link_to course_path(@assessment.course), class: "no-hyper" do
          .fa.fa-book
          = @assessment.course.title
        .row
        My Progress:
        .progress
          .progress-bar{role: 'progressbar', style: "width: #{number_to_percentage(@course.progression(current_user), precision: 0)};"}
            = number_to_percentage(@course.progression(current_user), precision: 0)
          
    %p  
    %ul.list-group
      %li.list-group-item
        Lessons:
      - @lessons.each do |lesson|
        - if lesson == @lesson && @lesson.present?  
          %li.list-group-item.list-group-item-info
            = render 'lessons/inspect_lesson', lesson: lesson
        - else
          %li.list-group-item
            = render 'lessons/inspect_lesson', lesson: lesson
      
      
      
    %p  
    %ul.list-group
      %li.list-group-item
        Assessments:
      - @assessments.each do |assessment|
        - if assessment == @assessment && @assessment.present?  
          %li.list-group-item.list-group-item-info
            = render 'assessments/inspect_assessment', assessment: assessment
        - else
          %li.list-group-item
            = render 'assessments/inspect_assessment', assessment: assessment
            
            
