%p#notice= notice

%p
  %b Question:
  = @assessment.question
%p
  %b Answer:
  = @assessment.answer
%p
  %b Course:
  = @assessment.course

= link_to 'Edit', edit_assessment_path(@assessment)
\|
= link_to 'Back', assessments_path
