// user profiles
// admin can only see whether a user has confirmed email
%p
.card
  .card-header
    .fa.fa-circle-user
    = link_to user.username, user_path(user), class: "no-hyper"
  .card-footer
    = "Total course sign-ups:"
    = user.admissions.count
  .card-footer
    Account created 
    = time_ago_in_words(user.created_at)
    ago 
  .card-footer
    - if user.has_role?(:admin)
      .badge.badge-admin
        Admin
    - if user.has_role?(:teacher) && !user.has_role?(:admin)
      .badge.badge-teacher
        Teacher
    - if user.has_role?(:student) && !user.has_role?(:teacher) && !user.has_role?(:admin)
      .badge.badge-student
        Student
    %br
- if policy(user).edit?  
  .card-footer
    Confirmed email?
    - if user.confirmed_at.present?
      %h1 Yes
    - else
      %h1 No
    = link_to "Edit roles", edit_user_path(user), class: "btn btn-sm btn-info"
    
    
