%p
%table.table.table-bordered
  %thead
    %tr
      %th id
      %th= sort_link(@q, :email)
      %th= sort_link(@q, :username)
      %th created_at
      %th= "sign_in_count".humanize
      %th= "last_sign_in_at".humanize
      %th= "last_sign_in_ip".humanize
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user.username
        %td= user.created_at
        %td= user.sign_in_count
        %td= user.last_sign_in_at
        %td= user.last_sign_in_ip

.card-columns
  - @users.each do |user|
    = render "users/users", user: user 



