//todo: edit css and change breadcrumbs
= link_to 'Courses', courses_path, class: "no-hyper"
\/
= link_to @lesson.course.title, course_path(@lesson.course), class: "no-hyper"
\/
= link_to @lesson.title, course_lesson_path(@course, @lesson), class: "no-hyper"

%p

= render 'lessons/lesson', lesson: @lesson


\|
= link_to 'Back', course_path(@lesson.course), class: "no-hyper"
