.container
  -# frozen_string_literal: true
  = simple_form_for(@course) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :title
      = f.label :logo
      .row
      - if @course.logo.attached?
        = image_tag @course.logo, width: "200px"
        = @course.logo.filename
        
      .row
      = f.file_field :logo 
      %small= f.error :logo, class: 'text-danger'

      .row
      = f.label :description
      = f.rich_text_area :description
      = f.input :details, collection: Course.details
      = f.input :stage, collection: Course.stage

    %p
    .form-actions
      = f.button :submit
