// Bootstrap for design of the form, this view allows the user to input info for the course, this is rendered in edit and new view.
// Reference: https://github.com/heartcombo/simple_form (Gem)
// Reference: https://github.com/corsego
.container
  = simple_form_for(@course) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :title
      = f.label :logo
      .row
      - if @course.logo.attached?
        = image_tag @course.logo, width: "200px"
        = @course.logo.filename
        // Attach logo and state name of attached file with set width
      .row
      = f.file_field :logo 
      %small= f.error :logo, class: 'text-danger'

      .row
      = f.label :description
      = f.rich_text_area :description
      = f.input :details, collection: Course.details
      = f.input :stage, collection: Course.stage
      // Dropdown for details and stage e.g. newbie, amateur, and expert
    %p
    .form-actions
      = f.button :submit
