.main.border
  .card-container.text-dark.bg-muted.mb-3
    .row.no-gutters
    .card-header
      .fa.fa-book
      = link_to course.title, course_path(course), class: "no-hyper"
    - if course.logo.attached?
      .card-img-top
        = image_tag course.logo, height: "200px", width: "400px"
    .card-body.bg-light
      = course.description
    .card-footer
      .fa.fa-book
      Lessons:
      = course.lessons.count
      %br
      .fa.fa-user-circle
      Total Users:
      = course.admission.count
      %br
    .card-footer
      = admission_button(course)
      = review_button(course)
    .card-footer
      .text-warning.fa.fa-star
      %b= course.rating_avg
      %br
      Level of Difficulty:
      = course.stage
      %br
      .far.fa-clock
      Published:
      = course.created_at.strftime('%d-%b-%Y')
    .card-footer
      .fa.fa-chalkboard-teacher
      Course Created by:
      = link_to course.user.username, user_path(course.user), class: "no-hyper"
    - if current_user
      - if policy(course).creator?
        .card-footer
          = link_to 'Add lesson', new_course_lesson_path(course, @lesson), class: 'btn btn-primary btn-sm'
          = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
          - if policy(course).approve? 
            = link_to 'Destroy', course, method: :delete, data: { confirm: 'Confirm?' }, class: 'btn btn-sm btn-danger'
      - if policy(course).destroy?
        .card-footer
          - if course.approval?
            .badge.badge-success Approved
          - else
            .badge.badge-danger Approval requied
      - if policy(course).approve?
        .card-footer
          - if course.approval?
            = link_to 'Revoke', revoke_course_path(course), method: :patch, class: 'btn btn-sm btn-danger'
          - else
            = link_to 'Approve', approve_course_path(course), method: :patch, class: 'btn btn-sm btn-success'
        
      %p
