%p
%h1  
  Total Courses:
  = @courses.count

.form-inline
  = search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |f|
    = f.label :Course
    = f.search_field :title_cont, placeholder: 'Course', class: 'form-control form-control-sm'
    = f.label :description
    = f.search_field :description_cont, placeholder: 'Description', class: 'form-control form-control-sm'
    = f.label :details
    %br
    = f.select :details_cont, Course.details
    %br
    = f.label :stage
    %br
    = f.select :stage_cont, Course.stage
    %br
    %p
    = f.button "Search", class: 'btn btn-info'
    = link_to 'Clear', @ransack_path, class: 'btn btn-info'  
%p
.row
  .col-md-12
    .main
      - @courses.each do |course|
        = render 'courses/viewcourse', course: course
!= pagy_bootstrap_nav(@pagy)


