%p
%h1  
  Total Courses:
  = @courses.count
  
%p
.row
  .col-md-10
    .main
      - @courses.each do |course|
        = render 'courses/viewcourse', course: course
  .col-md-2
    = search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |f|
      = f.label :Course
      = f.search_field :title_cont, placeholder: 'Course', class: 'form-control form-control-sm'
      = f.label :description
      = f.search_field :description_cont, placeholder: 'Description', class: 'form-control form-control-sm'
      = f.label :details
      %br
      = f.select :details_cont, Course.details
      %br
      = f.label :stage
      %br
      = f.select :stage_cont, Course.stage
      = f.submit
    = link_to 'Clear', @ransack_path
!= pagy_bootstrap_nav(@pagy)


