%p
= link_to 'Courses', courses_path, class: "no-hyper"
\/
= link_to @course.title, course_path(@course), class: "no-hyper"
%p
.row
  .col-lg-7
    .jumbotron
    %h1
      = @course.title
    %h4
      = @course.description
    %br
    %h4
      Lessons:
      = @course.lessons.count
    %ul.list-group
      - @lessons.each do |lesson|
        %li.list-group-item
          = render 'lessons/inspect_lesson', lesson: lesson

    %br
    
    %h4
      Assessments:
      = @course.assessments.count
    %ul.list-group
      - @assessments.each do |assessment|
        %li.list-group-item
          = render 'assessments/inspect_assessment', assessment: assessment

    %br

    %h4
      Course Reviews:
      = @admissions_review.count

    - @admissions_review.each do |admission|
      %p
      = render 'admissions/admission', admission: admission
    %br
    %h4
      My Progress:
      %p
      .progress
        .progress-bar{role: 'progressbar', style: "width: #{number_to_percentage(@course.progression(current_user), precision: 0)};"}
          = number_to_percentage(@course.progression(current_user), precision: 0)  
    %p
    
  .col-lg-5
    //- if policy(@course).edit?
    //= link_to 'Add lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-primary btn-sm btn-block'
    
    %p
    .sticky-top
      = render 'courses/viewcourse', course: @course
    


