// Reference: https://github.com/corsego
// Course show view, users who are not logged in can see this view
// Similar to views from assessment and lesson, bootstrap used for responsiveness and css for styling
// progress bar based on user progression through lessons, shown as integer and in a bar
// card remains at top of page using sticky
// course contents are shown on left of the page sticking to the design, course card is displayed on right of the screen
%p
= link_to 'Courses', courses_path, class: "no-hyper"
\/
= link_to @course.title, course_path(@course), class: "no-hyper"
%p
.row
  .col-lg-7{style: " border: 1px solid #01B7EA; "}
    .jumbotron
    %p
    %h1
      = @course.title
    %hr.text-info
    %h4
      = @course.description
    %hr.text-info
    %br
    %h4
      Lessons:
      = @course.lessons.count
    %ul.list-group
      - @lessons.each do |lesson|
        %li.list-group-item
          = render 'lessons/inspect_lesson', lesson: lesson

    %br
    
    %h4
      Assessments:
      = @course.assessments.count
    %ul.list-group
      - @assessments.each do |assessment|
        %li.list-group-item
          = render 'assessments/inspect_assessment', assessment: assessment

    %br

    %h4
      Course Reviews:
      = @admissions_review.count

    - @admissions_review.each do |admission|
      %p
      = render 'admissions/admission', admission: admission
    %br
    %h4
      My Progress:
      %p
      .progress
        .progress-bar{role: 'progressbar', style: "width: #{number_to_percentage(@course.progression(current_user), precision: 0)};"}
          = number_to_percentage(@course.progression(current_user), precision: 0)  
      %br
    
  .col-lg-5
    %p
    .sticky-top
      = render 'courses/viewcourse', course: @course
    


