.container
  .card-post.h-100.d-flex
    .row.no-gutters
    .card-header
      = posts.title
    .card-body-custom.h-100.bg-light  
      .card-info.mt-2.px-2
        = truncate(posts.description.body.to_plain_text, length: 75, separator: '')
        %a{ href: post_path(posts), class: "no-hyper" } Continue reading
    .card-footer
      Created by:
      .fa.fa-circle-user
      = link_to posts.user.username, user_path(posts.user), class: "no-hyper"
      %br
      .fa.fa-message
      Replies:
      = posts.messages.count
    
    - if policy(posts).edit?    
      .card-footer
        = link_to 'Edit', edit_post_path(posts), class: 'btn btn-sm btn-warning'
        = link_to 'Delete', [posts], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'