%p
%h1  
  All posts:
  = @posts.count
%p

= link_to 'Add Post', new_post_path(@posts), class: 'btn btn-primary btn-sm'

%p

.row  
  .col-md-10
    .main
      - @posts.each do |posts|
        %p
        = render 'posts/viewpost', posts: posts
    %p    
    != pagy_bootstrap_nav(@pagy)
  .col-md-2
    = search_form_for @ransack_posts, as: :posts_search, url: @ransack_path do |f|
      = f.label :search
      = f.search_field :title_cont, placeholder: 'All Posts', class: 'form-control form-control-sm'
    = link_to 'Clear', @ransack_path


