%p
= link_to 'Forum', posts_path, class: "no-hyper"
\/
= link_to @post.title, post_path(@post), class: "no-hyper"

%p
.row
  .col-lg-9
    %p
    .card
      .card-header
        %h2= @post.title
        - if policy(@post).edit?
          = link_to 'Edit', edit_post_path(@post), class: 'btn btn-sm btn-warning'
          = link_to 'Delete', [@post], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
      .card-body.bg-light
        = @post.description
      .card-footer
        = time_ago_in_words(@post.updated_at)
        ago by
        - if @post.user.has_role?(:admin)
          .badge.badge-admin
            Admin
        - if @post.user.has_role?(:teacher) && !@post.user.has_role?(:admin)
          .badge.badge-teacher
            Teacher
        - if @post.user.has_role?(:student) && !@post.user.has_role?(:teacher) && !@post.user.has_role?(:admin)
          .badge.badge-student
            Student
        = link_to @post.user.username, user_path(@post.user), class: "no-hyper"

%p        
.fa.fa-message
Replies:
= @messages.count
- @messages.each do |message|
  %p
  = render 'posts/messages/message', message: message
%hr
= render 'posts/messages/form'

