%p
= link_to 'Forum', posts_path, class: "no-hyper"
\/
= link_to @post.title, post_path(@post), class: "no-hyper"


%p
.row
  .col-lg-9

    %p
    .card
      .card-header
        %h2= @post.title
      .card-body.bg-light
        = @post.description
    - if policy(@post).edit?
      .card-footer
        = link_to 'Edit', edit_post_path(@post), class: 'btn btn-sm btn-warning'
        = link_to 'Delete', [@post], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

