%p
.card
  .card-header
    = link_to @course.title, course_path(@course)
    %hr
    Register now!
  .card-body
    = form_tag course_admissions_path(@course) do
      = submit_tag "#{@course.details}", class: "btn btn-lg btn-success"
  .card-footer
    = link_to "Back", course_path(@course)
