
%p
  %b Course:
  = @admission.course
%p
  %b User:
  = @admission.user
%p
  %b Rating:
  = @admission.rating
%p
  %b Review:
  = @admission.review
%p
  %b Price:
  = @admission.course.details

= link_to 'Edit', edit_admission_path(@admission)
\|
= link_to 'Back', admissions_path
